html,
body {
 margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}
html {
  display: table;
  margin: auto;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grid-3_2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.flex_r_inbetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    padding: 5px;

}
.cat_but {
    background-color: gray;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}