html,
body {
 margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}
html {
  display: table;
  margin: auto;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grid-3_2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.flex_r_inbetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    padding: 5px;
color: black;
}
.cat_but {
    background-color: gray;
    margin: 5px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: 4fr 1fr 2fr;
  
}
.produkt_kort {
  position: relative;
  display: grid;
  grid-template-columns: subgrid;
  grid-row: 1/4;
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
}
.list_img {
  max-width: 300px;
  height: 100%;
  max-height: 300px;
}
.soldout img {
  opacity: 0.5;
  filter: grayscale(50%);
}

.soldout_txt {position: absolute;
  top: 50%;
  left: 50%;
  background-color: lightgray;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.2rem;
  padding: 5px 8px;
  margin: 0;}

  .sale_badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: crimson;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 20px;
}
.old_price {
  text-decoration: line-through;
  color: #888;
   margin: 0;
}
.new_price {
  color: #d32f2f;
  font-weight: bold;
  margin-top: 0;
}

.listproduct {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-decoration: none;
  padding: 12px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}


.listproduct li::after {
  content: " / ";
  font-size: 1rem;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
}

.product-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.product-description {
  font-size: 18px;
  line-height: 1.6;
  width: 300px;
}

.product-image {

  display: block;
  max-width: 300px;
  height: 100%;
}

.buy-card {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #b0b4bd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.362);
  padding: 20px;
  height: 250px;
  width: 100%;
  max-width: 200px;
  margin: 10px;
}
.product-content {
    order: 0;
    flex: 1;
    padding-left: 5rem;
  }

  .product-image {
    order: 0;
    flex: 1;
  }
dd {
  margin-bottom: 10px;
}
  .buy-card {
    order: 1;
    margin-left: auto;
  }

.buy-button a {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 20px;
}